.three-rating-box {
    display: flex;
    margin-top: 100px;
    margin-bottom: 24px;

    .three-rating__item {
        width: calc(100% / 3);
        position: relative;
        z-index: 1;

        .text-username {
            color: $secondary;
            margin-top: 5px;
        }

        .position-number {
            font-size: 20px;
            text-align: center;
        }

        .crown-img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -74px;
            width: 60px;
        }

        .profile-circle {
            position: relative;
            z-index: 2;
            width: 100%;
            height: calc((100vw - 24px) / 3);
            border-radius: 100%;
            border: 4px solid $gray-5;
            // overflow: hidden;
            background-color: #fff;

            img.profile-img {
                width: 100%;
                object-fit: cover;
                border-radius: 100%;
                height: 100%;
            }
        }
    }

    .three-rating__item:nth-child(2) {
        z-index: 2;

        .position-number {
            transform: translateY(-98px);
            font-weight: 700;
        }

        .profile-circle {
            transform: scale(1.3) translateY(-20px);
        }
    }
}

.leaders-list-home {
    table {
        width: 100%;
    }

    thead {
        th {
            text-align: left;
            font-weight: 700;
            font-size: 12px;
            color: #687588;
            //   background-color: #fafafa;
            padding: 6px 12px;
        }

        th:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        th:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: right;
        }
    }

    tbody {
        td {
            padding: 12px;
            font-size: 14px;
            font-weight: 500;
            border-bottom: 1px solid #e9eaec;
            color: #000;

            .position-simple {
                min-width: 19px;
                max-width: 19px;
                margin-right: 12px;
            }

            .fio {
                // margin-bottom: 2px;
            }

            .city {
                font-size: 12px;
                color: #687588;
            }
        }

        td:last-child {
            text-align: right;
            font-weight: 400;
        }
    }
}