.subjects-top-slider {
    padding: 8px 0;
    .swiper-slide {
        width: auto !important;
    }

    .subject-slider-item {
        padding: 4px 12px;
        font-size: 13px;
        color: #333;
        font-weight: 500;
        border: 1px solid $gray-5;
        border-radius: 8px;
    }

    ._active {
        background-color: $primary;
        color: #fff;
        border: 1px solid $primary;
    }
}
.question-wrap {
    .question-text {
        margin-top: 16px;
    }
    .variants-wrap {
        margin-top: 24px;
        .variant-item {
            padding: 12px 24px;
            border-radius: 10px;
            border: 2px solid $gray-5;
            width: 100%;
            display: block;
            text-align: left;
            margin-bottom: 10px;
            // background-color: #f4f4f4;
        }
        ._selected {
            // background-color: $;
            border: 2px solid #ffcf26;
        }
    }
}
