#test-solve {
    .test-solve-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid $gray-5;

        .top-wrap {
            border-bottom: 1px solid $gray-5;
        }

        .subjects-top-slider {
            padding: 8px 12px;

            .swiper-slide {
                width: auto !important;
            }

            .subject-slider-item {
                padding: 4px 12px;
                font-size: 16px;
                color: #333;
                font-weight: 500;
                border: 1px solid $gray-5;
                border-radius: 8px;
            }

            ._active {
                background-color: $primary;
                color: #fff;
                border: 1px solid $primary;
            }
        }

    }

}