.test-solve-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid $gray-5;

    .top-wrap {
        border-bottom: 1px solid $gray-5;
    }

    .subjects-top-slider {
        padding: 8px 12px;

        .swiper-slide {
            width: auto !important;
        }

        .subject-slider-item {
            padding: 4px 12px;
            font-size: 13px;
            color: #333;
            font-weight: 500;
            border: 1px solid $gray-5;
            border-radius: 8px;
        }

        ._active {
            background-color: $primary;
            color: #fff;
            border: 1px solid $primary;
        }
    }

    .questions-top-slider {
        padding: 8px 12px;

        .swiper-slide {
            width: auto !important;
        }

        .question-slider-item {
            padding: 4px 10px;
            font-size: 16px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #333;
            font-weight: 500;
            border: 1px solid $gray-5;
            border-radius: 8px;
        }

        ._selected {
            background-color: #e4ecf3;
            color: $primary;
            border: 1px solid #e4ecf3;
        }

        ._active {
            background-color: $primary;
            color: #fff;
            border: 1px solid $primary;
        }
    }
}

.question-wrap {
    .question-text {
        margin-top: 16px;
        font-size: 18px;
        font-weight: bold;
    }

    .variants-wrap {
        margin-top: 24px;

        .variant-item {
            padding: 12px 24px;
            border-radius: 10px;
            border: 2px solid $gray-5;
            width: 100%;
            display: block;
            text-align: left;
            margin-bottom: 10px;
            font-size: 16px;
            // background-color: #f4f4f4;
        }

        ._selected {
            // background-color: $;
            border: 2px solid #ffcf26;
        }
    }
}